{%extends "bbank/base.html"%}
{% load staticfiles%}
{%block body_block%}

<div class="jumbotron">
    <h2>Please Login</h2>
    <h3> Please check if you are a superuser</h3>
    {% if form.errors %}
    <p> please check your username and password</p>
    {%endif%}
    <form action="{% url 'login_page'%}" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <input type="submit", class="btn btn-primary" value="Login">
        <input type="hidden", name="next", value="{{next}}">
    </form>
    <a class="btn btn-primary" href="{% url 'password_reset'%}">Forgot Password?</a>
</div>
{%endblock%}